# Virtual Environment
.venv/
venv/
env/

# Database (Very Important - Do not push this)
db.sqlite3
db.sqlite3-journal

# Python cache
__pycache__/
*.pyc
*.pyo

# Static files collected during deployment
staticfiles/

# OS files
.DS_Store
Thumbs.db
