<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h1 style="margin: 0;">🌦 Weather App</h1>
        <a href="/logout/" style="background: #dc3545; color: white; padding: 8px 16px; text-decoration: none; border-radius: 5px;">Logout</a>
    </div>

    <form id="weatherForm">
        <input type="text" id="city" placeholder="Enter City" required>
        <input type="date" id="date" required>
        <button type="submit">Get Weather</button>
    </form>

    <div id="result"></div>
</div>

<script src="/static/script.js">

    
</script>
</body>
</html>